*{
    box-sizing: border-box;
}
body,h1,h2, h3, h4, p, a{
    margin:0;
    font-size:100%;
    font-weight: normal;
}
body{
    font-family: 'Inter', sans-serif;
}
.header{
    background-color:rgba(238, 238, 238, .2);
    background-image:url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
    width: 100%;
    height: 100vh;
    color:#fff;
    background-size: cover;
    background-position: center center;
    text-align:center;
}
.header-title{
    margin:auto;
    font-size:140px;
    text-transform:uppercase;
    font-weight:500;
}
.overlay{
    display: flex;
    font-size:40px;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0,.5)
}
.content{
    font-size: 0;
    width: 790px;
    margin:100px auto 50px;
}
.card{
    display: inline-block;
    width: 350px;
    margin-bottom:60px;
    padding:45px 45px 70px;
    padding-top:45px;
    margin-right: 90px;
    box-shadow: 4px 4px 5px rgb(250, 50, 50, .4) ;
}
.no-right-margin {
    margin-right: 0;
}
.card-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom:10px;
}
.card-text{
    font-size: 16px;
}
.card-image{
    width: 100%;
    margin-bottom:25px;
}
.footer{
    display:flex;
    height:300px;
    background-color:#000;
}
.footer-author{
    color:#FFF;
    font-size:24px;
    margin:auto;
}